In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table('data/clues.tsv')

In [4]:
df.head(5)

  pubid  year answer               clue
0   atc  1997    NaN                NaN
1   atc  1997    ABA  Litigator's group
2   atc  1997  ACTOR           Thespian
3   atc  1997   ADES     Summer coolers
4   atc  1997    ADS  Newspaper revenue

In [7]:
df.drop(['pubid','year'], axis=1,inplace=True)
df.dropna(inplace=True)

In [15]:
df[df['clue'].str.contains(',')].iloc[0]['clue']

'Part of Q&A, briefly'

In [8]:
def sample_strings_containing(containing:list, n_samples:1,  data:pd.DataFrame) -> list:
    """_summary_

    Args:
        n_samples (int): _description_
        containing (list): _description_

    Returns:
        list: _description_
    """
    for x in containing:
        if df[df['clue'].str.contains(symbol)].shape[0] > 0:

!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
:
;
<
=
>
?
@
[
\
]
^
_
`
{
|
}
~